/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2018, 6:20:10 PM
    Author     : Justice
*/
    body{
        margin:0px;
        padding:0px;
    }
    
    .box-container{
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    #map {
        position: relative;
        width: 100%;
        height: 740px;
        z-index: 0;
    } 
    
    #clear {
        margin-left: 10px;
        margin-top: 0px;
        font-family: "微软雅黑";
        font-size: 11px;
        padding: 1.5px;
        width: 50px;
        height: 35px;
        left:50px;
        background: #6666ff;
        color: white;
        font-weight: bold;
        text-align: center;
        border: 2px #1a1a1a solid;
        border-radius: 10px;
    }
    
    #MacquarieBogan {
        position: absolute;
        top: 75px;
        left: 35px;
        background: white;
        font-family: "微软雅黑";
        font-size: 10px;
        color: black;
        padding: 10px;
        line-height:125%;
        display: none;
        z-index: 30;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }  
    
    #ManningRiver {
        position: absolute;
        top: 75px;
        left: 35px;
        background: white;
        font-family: "微软雅黑";
        font-size: 10px;
        color: black;
        padding: 10px;
        line-height:125%;
        display: none;
        z-index: 30;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    #Ck_box_para_macquarie {
        position: absolute;
        top: 75px;
        left: 35px;
        background: white;
        font: 10px "微软雅黑";
        color: black;
        padding: 10px;
        line-height:125%;
        z-index: 30;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    
    .link_to_parallel{
        position: absolute;
        top: 230px;
        left: 35px;
        text-decoration: none;
        margin: 10px 7px;
        padding: 5px 5px;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 2px;
        color: #383736;
        border: 2px #383736 solid;
        border-radius: 4px;
        text-transform: uppercase;
        outline: 0;
        overflow:hidden;
        background: none;
        z-index: 1;
        cursor: pointer;
        transition:         0.08s ease-in;
        -o-transition:      0.08s ease-in;
        -ms-transition:     0.08s ease-in;
        -moz-transition:    0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
        display: none;
    }

    .link_to_parallel{
        -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
    }
    .link_to_parallel:before{
        position:absolute;  
        content:"";
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index:-1;
        opacity:0;
        -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    }
    
    .link_to_parallel:after {
        content: "";
        position: absolute;
        background: #d19b26;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -2;
        -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
    }

    .link_to_parallel:hover{
        color: white;
        border: 0px #d19b26 solid;
    }

    .link_to_parallel:hover:before {
        opacity: .8;
    }

    .link_to_parallel:hover:after {
        top: 0;
    }

    .link_to_parallel a:hover{
        color: white;
    }

    a{
        text-decoration: none ;
    }
    a:hover
    {
        text-decoration:none;
    }
    
    .hover_info {
        padding-top: 5px;
        padding-right: -5px;
        padding-left: 15px;
        padding-bottom: 10px;
        top: 0px;
        right: 0px;
        font: 13.5px "微软雅黑";
        background: #ffffff;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-radius: 5px;
        width: 225px;
        text-align: left;
        line-height: 125%;
    }
    
    #legend {
        position: relative;
        top: 10px;
        left: 0px;
        font-family: "微软雅黑";
        font-size: 11px;
        line-height: 135%;
    }
    
    #map a:visited {
        color: blue;
        font: 14px "微软雅黑";
    }
    
    #map a:hover {
        color: red;
        font: 14px "微软雅黑";
        text-shadow: 0 0 2px #999;
    }

    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url(../images/preloader.gif) center no-repeat #fff;
    }

    select{
        font-family: "微软雅黑";
        margin-left: -2px;
        margin-top: 0px;
        background: #6666ff;
/*        width: 160px;*/
        height: 35px;
        font-size: 11px;
        color: white;
        font-weight: bold;
        text-align: center;
        border: 2px #1a1a1a solid;
        border-radius: 10px;
    }

    option{
        color: black;
        background: white;
        line-height: 25px;
        font-size: 11px;
    }
    
    select:focus{
        border: 2px #ddd solid;
        box-shadow: 0 0 15px 1px #DDDDDD;
    }
    
    option:hover{
        background: #EBCCD1;
        text-shadow: 0 0 2px #999; 
    }

    .info {
        background: #ffffff;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        position: relative;
        border-radius: 5px;
        font: 10px "微软雅黑";
        line-height: 135%;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    .info h4 {
        margin: 0 0 5px;
        font-family: "微软雅黑";
        font-size:14.5px;
        font-weight: bold;
    }
    .legend {
        text-align: left;
        line-height: 18px;
        color: #555;
    }
    .legend img {
        width: 17px;
        height: 17px;
        float: left;
        margin-right: 10px;
        opacity: 1;
    }
    .s0_title {
        font-size:18px;
        font-weight: bold;
        margin-bottom: 0;
        height: 48px;
    }
    
    #container {
        top: 370px;
        left: 610px;
        width: 90px;
        height: 90px;
        position: absolute;
        display: none;
    }
    
