/* 
Comments: css for the parallel coordinates
*/

.row{
    width: 6000px;
    height: 100%;
}

#paracoord {
    position: relative;
    width: 100%;
    height: 740px;
}
		
#grid {
    position: relative;
    width: 100%;
    height: 750px;
    line-height: 130%;
}

.slick-row:hover {
    font-weight: 1500;
    color: #069;
}

.slick-header-column.ui-state-default {
    background:none ;
    background-color: #505050 ;
    color: #eeeeee;  
    border: none;  
    padding: 0;
    text-shadow: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;    
}

.info {
    background: white;
    position: relative;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: "微软雅黑";
    font-size: 13px;
    color: black;
    padding: 10px;
    line-height:135%;
    z-index: 30;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.info h4 {
    margin: 0 0 5px;
    font-family: "微软雅黑";
    font-size: 13px;
    font-weight: bold;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 50px;
    height: 15px;
    float: left;
    margin-right: 10px;
    opacity: 0.6;
}

.my-leaflet-div-icon {
    color: #DDD;
    width: auto;
    text-shadow:
            -1px -1px 1px black,
            1px -1px 1px black,
            -1px  1px 1px black,
            1px  1px 1px black;
}

.stations, .stations svg {
    position: absolute;
}

.stations svg {
    width: 80px;
    height: 80px;
    padding-right: 100px;
    font: 10px sans-serif;
}

.title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    height: 48px;
}
